<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear Publicación</title>
</head>
<body>
    <h2>Crear Publicación</h2>
    <form method="POST">
        {% csrf_token %}
        <label for="destino">Selecciona un destino:</label>
        <select name="destino" id="destino">
            {% for destino in destinos %}
                <option value="{{ destino.id }}">{{ destino.ciudad }}, {{ destino.pais }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="texto">Texto:</label>
        <textarea name="texto" id="texto" required></textarea>
        <br>
        <label for="fecha">Fecha:</label>
        <input type="date" id="fecha" name="fecha" required>
        <br>
        <button type="submit">Crear Publicación</button>
    </form>
</body>
</html>
